<div class="container-father">

<div class="container-text">
    <div class="father-text">
        <h2>Seja Bem Vindo ao!</h2>
        <h1>Easy Finanças</h1>

            <div class="child-text">
            <p class="p-one">Uma aplicacao voltada ao controle de gastos pessoais
            foi desenvolvida com o intuito de aplicar os estudos de Angular/typescript em sua versao mais 
            recente consumindo uma API para o back-end que desenvolvi em JAVA 17 e seu incrivel Framework spring o qual e muito
            poderoso e eu sou apaixonado, fique a vontade para testar, serao adicionadas novas funcionalidades em breve! </p>
            
            <h2>use as credenciais abaixo para fazer acesso e testar.</h2>

            </div>

            
    </div>

    <section class="tecnologies">
        <h3>Tecnologias Utilizadas</h3>
        <img src="assets/java.png"/>
        <img src="assets/postgre.png"/>
        <img src="assets/typescript.png"/>
        <img src="assets/angular.png"/>
    
    
    </section>



</div>


<!-- form panel -->


<div class="container">

    
    
    <form autocomplete="off" #loginForm="ngForm">
        <div class="grid">

            
            <div class="col-12 p-fluid">
                <h2>Login</h2>
            </div>

            <div class="col-12 p-fluid">
                <p>email</p>
                <input pInputText type="email" name="usuario" placeholder="digite seu email" ngModel required #usuario>
            </div>

            <div class="col-12 p-fluid">
                <p>senha</p>
                <input pInputText type="password" name="senha" placeholder="digite sua senha" ngModel required #senha>
            </div>

            <div class="col-12">
                <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
                    (click)="login(usuario.value, senha.value); senha.value='';"></button>
            </div>

        </div>
    </form>
    <img src="assets/gastar.png"/>

</div>

<!-- end form panel -->



</div>


